**/*.*
/!build/*
/!install/*
/!installers/*

!/src/**/*[.cpp]
!/tests/**/*[.cpp]

!/.clang-*
!/CMakeLists.txt
!/CMakePresets.json
!/vcpkg.json

!/scripts/*[.ps1, .cmake]

!/License*
!/.gitignore

!/.github/workflows/*.yml
